/* --- App --- */
body{
  background-color: #696969;
}

.App{
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1{
  color: #ffda00;
  font-weight: bold;
  margin-bottom: 30px;
}

.menuCard{
  text-align: left;
  background-color: #faebd7;
  width: 700px;
  height: 240px;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid black;
  align-self:center;
}


/*---Menu  Component---*/
.Menu{
  display: flex;
}

.menuImg{
  float: right;
  width: 200px;
  height: 180px;
}

.menuName{
  font-weight: bold;
}

.menuDetail{
  font-size: 15px;
}


/*---Button Component---*/
.Button{
  height: 50px;
  display: flex;
  justify-content: center;
}
.operate-button{
  height: 30px;
  margin: 10px;
}
.vote-value{
  color: #8f20ee;
  font-size: 20px;
  font-weight: 900;
  font-family: sans-serif;
  background-color:#4af63b;
  padding: 8px;
  border-radius: 5px;
  border: 3px solid black;
}
